// * Slideshow container *//
.main-slide {
	// .main-slide__box

	&__box {
	}

	// .main-slide__slide-container

	&__slide-container {
	}

	// .main-slide__content

	&__content {
	}

	// .main-slide__image

	&__image {
	}

	// .main-slide__transparent-background

	&__transparent-background {
	}

	// .main-slide__prev

	&__prev {
	}

	// .main-slide__next

	&__next {
	}

	// .main-slide__dots

	&__dots {
	}

	// .main-slide__dot

	&__dot {
	}
}
.slide-content {
	// .slide-content__title
	&__title {
		font-size: 400%; /* 48/12 */
		line-height: 0.9;
		font-weight: 900;
		text-transform: uppercase;
		color: #f68038;
		padding-left: 36px;
		margin: 15px 0 50px;
		span {
			line-height: 43px;
			color: #333333;
		}
	}

	// .slide-content__text
	&__text {
		font: {
			size: 116.666667%; /* 14/12 */
			weight: 900;
		}

		text-transform: uppercase;
		padding-left: 36px;
		line-height: 200%; /* 24/12 */
		color: #333333;

		span:first-child {
			color: #f68038;
			font-size: 18px;
		}
		p:nth-child(3) {
			span {
				color: #979797;
				font-size: 14px;
			}
		}
		p:nth-child(2) {
			width: 133px;
			height: 24px;
			color: #fff;
			padding-left: 7px;
			background-color: rgba(0, 0, 0, 0.36);
		}
	}

	// .slide-content__footer
	&__footer {
		text-align: center;
	}

	// .slide-content__price
	&__price {
		font: {
			size: 300%; /* 36/12 */
			weight: 900;
		}

		margin-bottom: 24px;
		color: #ffffff;
		span {
			text-transform: uppercase;
		}
	}

	// .slide-content__button
	&__button {
		display: inline-flex;
		justify-content: space-between;
		align-items: center;
		font: {
			size: 116.666667%; /* 14/12 */
			weight: 900;
		}
		cursor: pointer;
		width: 145px;
		height: 33px;
		background-color: rgba(0, 0, 0, 0);
		border: 3px solid #fff;
		border-radius: 33px;
		line-height: 200%; /* 24/12 */
		text-transform: uppercase;
		color: #fff;

		&::after {
			width: 14px;
			height: 14px;
			content: '';
			background: url('../img/main/arrow.png') center left no-repeat;
		}
	}
}
