<head>
	<title>New-ClearFit</title>
	<meta charset="UTF-8">
	<meta content="width=device-width,initial-scale=1" name="viewport">
	<meta content="true" name="HandheldFriendly" />
	<meta content="width" name="MobileOptimized" />
	<meta content="Краткое описание документа." name="description">
	<meta content="keywords-ключевые слова для поиска" name="keywords">
	<link rel="icon" type="image/icon" href="img/icons/clearfit_title.gif" />
	<link href="css/style.css" rel="stylesheet" type="text/css" />
	<script src="https://use.fontawesome.com/3625539a81.js"></script>
	<script defer="defer" type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
	<script defer="defer" type="text/javascript" src="js/main.js"></script>
</head>